@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles below */
html {
  scroll-behavior: smooth;
}


.content-section {
  padding-top: 60px; /* Adjust this value based on the height of your fixed header */
}

/* New styles for the scrolled header */
.header-scrolled {
  background-color: #333; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  transition: background-color 0.3s, color 0.3s;
}